*{
    margin: 0 auto;
}

body{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    width: 100%;
}
:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --grayvish-magenta: hsl(303, 10%, 53%);
    --light-grayish: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 120px;

}

.main-section > h1 {
    font-weight: bold;
    color: var(--dark-magenta);
    font-size: 40px;
}

.main-section > p {
    font-weight: 400;
    color: var(--grayvish-magenta);
    margin-top: 10px;
}

.rate-section > ul {
    color: var(--dark-magenta);
    font-weight: 500;
    list-style: none;
    margin-top: 10px;
}

.main-section {
    width: 350px;
    height: 220px;
}


ul > li {
    background-color: var(--light-grayish);
    width: 250px;
    height: 30px;
    padding: 10px 70px 10px 70px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;

}

.li-2{
    margin-left: 80px;
}

.li-3 {
    margin-left: 100px;
}

#proof {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
}

#proof > section {
    background-color: var(--dark-magenta);
    color: var(--white);
    width: 420px;
    height: 260px;
    border-radius: 10px;

}
.img, .title-proof {
    display: inline-block;
}

img {
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 100px;
    width: 15%;
}

.paragraph {
    text-align: left;
}

span {
    color: var(--soft-pink);
    display: block;
    position: relative;
    left: 102px;
    bottom: 30px;
    font-weight: 400;
}

footer {
    text-align: center;
    margin-top: 50px;

}

.title-proof {
    position: relative;
    left: 10px;
    bottom: 30px;
    font-weight: 400;
}

.paragraph {
padding: 5px 27px;
}

.proof-1 {
    bottom: 20px;
    position: relative;
}

.proof-2 {
    position: relative;
    bottom: 10px;
}

.star {
    background-image: url('images/icon-star.svg');
    display: flex;
    background-repeat: repeat-x;
    width: 33.5%;
    position: relative;
    top: 10px;
    right: 20rem;
}